<!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#top" class="logo">
                            <img src="/images/ossu-logo.png" width="60px" height="60px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- Customer View -->
                            {{#ifCond position 'customer'}}

                                {{#ifCond active 'index'}}
                                    <li class="scroll-to-section"><a href="index">Home</a></li>
                                    <li class="scroll-to-section"><a href="#about">About</a></li>
                                    <li class="scroll-to-section"><a href="#menu">Offers</a></li>
                                    <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li>
                                    <li class="scroll-to-section"><a href="menu">View Menu</a></li>
                                    <li class="scroll-to-section"><a href="order-status">View Orders</a></li>
                                    <li class="scroll-to-section"><a href="/" id="login-color">Logout</a></li>
                                {{/ifCond}}
                                {{#ifCond active 'menu'}}
                                    <li class="scroll-to-section"><a href="index">Home</a></li>
                                    <li class="scroll-to-section"><a href="menu" class="active">View Menu</a></li>
                                    <li class="scroll-to-section"><a href="order-status">View Orders</a></li>
                                    <li class="scroll-to-section"><a href="/" id="login-color">Logout</a></li>
                                {{/ifCond}}
                                {{#ifCond active 'order'}}
                                    <li class="scroll-to-section"><a href="index">Home</a></li>
                                    <li class="scroll-to-section"><a href="menu">View Menu</a></li>
                                    <li class="scroll-to-section"><a href="order-status">View Orders</a></li>
                                    <li class="scroll-to-section"><a href="/" id="login-color">Logout</a></li>
                                {{/ifCond}}
                                {{#ifCond active 'order-status'}}
                                    <li class="scroll-to-section"><a href="index">Home</a></li>
                                    <li class="scroll-to-section"><a href="menu">View Menu</a></li>
                                    <li class="scroll-to-section"><a href="order-status" class="active">View Orders</a></li>
                                    <li class="scroll-to-section"><a href="/" id="login-color">Logout</a></li>
                                {{/ifCond}}
                                
                            {{/ifCond}}

                            <!-- Staff View -->
                            {{#ifCond position 'staff'}}

                                {{#ifCond active 'staff-page'}}
                                    <li class="scroll-to-section"><a href="staff-page" class="active">Manage Orders</a></li>
                                    <li class="scroll-to-section"><a href="/" id="login-color">Logout</a></li>
                                {{/ifCond}}

                            {{/ifCond}}

                            <!-- Guest View -->
                            {{#ifCondN position 'customer'}}

                                {{#ifCond active 'index'}}
                                    <li class="scroll-to-section"><a href="/">Home</a></li>
                                    <li class="scroll-to-section"><a href="#about">About</a></li>
                                    <li class="scroll-to-section"><a href="#menu">Offers</a></li>
                                    <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li>
                                    <li class="scroll-to-section"><a href="/login" id="login-color">Login</a></li>
                                    <li class="scroll-to-section"><a href="/signup" id="login-color">Sign-up</a></li>
                                {{/ifCond}}

                            {{/ifCondN}}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
<!-- ***** Header Area End ***** -->