<!DOCTYPE html>
<html lang="en">

  	<head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../public/images/ossu-logo.png">

    <title>OSSU | Admin</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css">

    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="../public/css/owl-carousel.css">

    <link rel="stylesheet" href="../public/css/lightbox.css">

    <link rel="stylesheet" href="../public/css/order-style.css">

    </head>

    <body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../public/images/ossu-logo.png" width="60px" height="60px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#manageorders" class="active">Manage Orders</a></li>
                            <li class="scroll-to-section"><a href="" id="login-color">Logout</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <div id="top">
        <div class="container-fluid">
        </div>
    </div>

    <!-- Order Management Section -->
    <section class="section" id="admin-header-fix-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h2>Order Management</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Order cards will go here -->
                <div class="col-md-4" id="cards-bottom-space">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table # 1</h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Beef Ramen
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(1, 1, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(1, 1, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Takoyaki
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(1, 2, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(1, 2, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Fried Noodles
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(1, 3, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(1, 3, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id="cards-bottom-space">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table # 2</h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Dumpling
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown21" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(2, 1, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(2, 1, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id="cards-bottom-space">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table # 3</h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Beef Ramen
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown31" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 1, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 1, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Dumpling
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown32" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 2, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 2, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Seafood Fried
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown33" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 3, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 3, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Fried Noodles
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown34" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 4, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(3, 4, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id="cards-bottom-space">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table # 4</h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Seafood Fried
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown41" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(4, 1, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(4, 1, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Takoyaki
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-warning" type="button" id="statusDropdown42" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Preparing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="statusDropdown1">
                                            <a class="dropdown-item" href="#" onclick="updateStatus(4, 2, 'Preparing')">Preparing</a>
                                            <a class="dropdown-item" href="#" onclick="updateStatus(4, 2, 'Served')">Served</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Order Management Section End -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="../public/images/ossu-logo-new.png" alt="" width="170px" height="55px"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright OSSU.
                        
                        <br>All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../public/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../public/js/popper.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../public/js/owl-carousel.js"></script>
    <script src="../public/js/accordions.js"></script>
    <script src="../public/js/datepicker.js"></script>
    <script src="../public/js/scrollreveal.min.js"></script>
    <script src="../public/js/waypoints.min.js"></script>
    <script src="../public/js/jquery.counterup.min.js"></script>
    <script src="../public/js/imgfix.min.js"></script> 
    <script src="../public/js/slick.js"></script> 
    <script src="../public/js/lightbox.js"></script> 
    <script src="../public/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="../public/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

    <!-- updateStatus script-->
    <script>
        function updateStatus(tableNumber, itemNumber, status) {
            var dropdownButton = document.getElementById("statusDropdown" + tableNumber + itemNumber);
            dropdownButton.innerText = status;
            if (status === "Preparing") {
                dropdownButton.classList.remove("btn-success");
                dropdownButton.classList.add("btn-warning");
            } else if (status === "Served") {
                dropdownButton.classList.remove("btn-warning");
                dropdownButton.classList.add("btn-success");
            }
        }
    </script>

    </body>
</html>