<!DOCTYPE html>
<html lang="en">

  	<head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/ossu-logo.png">

    <title>OSSU | Menu</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="/css/owl-carousel.css">

    <link rel="stylesheet" href="/css/lightbox.css">

    <link rel="stylesheet" href="/css/order-style.css">
    
    <style>
        h1 {
            color: #333;
        }

        .menu-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            justify-items: center;
        }

        .menu-item {
            border: 1px solid #ccc;
            padding: 10px;
            width: 230px;
        }

        .menu-item img {
            max-width: 100%;
            height: auto;
        }

        .categories {
            padding: 5px;
        }

        .cart-container {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 20px;
            width: 600px;
            margin-left: auto;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .cart-item img {
            max-width: 50px;
            max-height: 50px;
            margin-right: 10px;
        }

        button {
            margin: 5px;
        }

        .menu-item input {
            width: 30px;
            text-align: center;
        }

        .cart-container h2 {
            border-bottom: 1px solid #000; /* You can adjust the color and style of the line */
            padding-bottom: 5px; /* Adjust the padding as needed */
        }

        input[type='number']{
            width: 40px;
        }

        .table-no-style {
            float: left;
        }

        .payment-options {
            float: right;
        }

        .new-line-div {
            clear: both;
        }

        .btn-div {
            text-align: right;
        }

        .order-btn-style{
            background-color: #d0d2d8;
        }

        .total-padding {
            margin-top: 10px;
        }
    </style>

    </head>

    <body>
    
    <!-- ***** Header Area Start ***** -->
    {{> nav position=position}}
    <!-- ***** Header Area End ***** -->
    <div id="top">
        <div class="container-fluid">
        </div>
    </div>

    <!-- ***** Menu Starts Here ***** -->
    <section class="section" id="header-fix-section">
        <div class="container">
            <div class="section-heading">
                <h6>OSSU Restaurant</h6>
                <h2>Food Menu</h2>
            </div>
            <div class="categories">
                <button onclick="filterCategory('all')">All</button>
                <button onclick="filterCategory('meals')">Meals</button>
                <button onclick="filterCategory('snacks')">Snacks</button>
                <button onclick="filterCategory('drinks')">Drinks</button>
                <button onclick="filterCategory('desserts')">Desserts</button>
            </div>
            <div id="menu" class="menu-container"></div>
            <br>
            <div id="pagination"></div>
            <form action="/submit-order" method="post" id="cart-form">
                <div id="cart" class="cart-container">
                    <h2>Cart</h2>
                    <div id="cart-items"></div>
                    <p class="total-padding"><span>Total: Php</span><input id="total-price" type="text" name="totalPrice" value="0.00" readonly></p>
                    
                    <div class="table-no-style">
                        <!-- ***** orderType ***** -->
                        <h5>Type of Order</h5>
                        <label for="dine-in">Dine-in</label>
                        <input type="radio" id="dine-in" name="orderType" value="Dine-in" required>
                        <label for="takeout">Takeout</label>
                        <input type="radio" id="takeout" name="orderType" value="Takeout" required>
                    </div>
                    <div class="payment-options">
                        <!-- ***** payment ***** -->
                        <h5>Mode of Payment</h5>
                        <label for="over-the-counter">Over the Counter</label>
                        <input type="radio" id="over-the-counter" name="paymentOption" value="Over the Counter" required>
                        <label for="credit-card">Credit Card</label>
                        <input type="radio" id="credit-card" name="paymentOption" value="Credit Card" required>
                    </div>
                    <div class="new-line-div"></div>
                    <div class="btn-div">
                        <button id="orderBtn" onclick="submitOrder(event)" class="order-btn-style">Order</button>
                    </div>
                    <input type="text" id="CartInput" name="orderItems" value ="Empty" hidden readonly>
                </div>
            </form>
        </div>
    </section>
    
    <!-- ***** Menu Ends Here ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="#top"><img src="/images/ossu-logo-new.png" alt="" width="170px" height="55px"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright OSSU.
                        
                        <br>All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/accordions.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    <script src="/js/slick.js"></script> 
    <script src="/js/lightbox.js"></script> 
    <script src="/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="/js/menu.js"></script>
    <script src="/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

    </body>
</html>