<!DOCTYPE html>
<html lang="en">

  	<head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../public/images/ossu-logo.png">

    <title>OSSU | Order</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css">

    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="../public/css/owl-carousel.css">

    <link rel="stylesheet" href="../public/css/lightbox.css">

    <link rel="stylesheet" href="../public/css/order-style.css">

    </head>

    <body>
    
     <!-- ***** Header Area Start ***** -->
     <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../public/images/ossu-logo.png" width="60px" height="60px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="../views/index.html" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">Cart</a></li>
                            <li class="scroll-to-section"><a href="#menu">Menu</a></li>
                            <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li> 
                            <li class="scroll-to-section"><a href="#reservation">AJ</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- YOUR ORDER -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h2>YOUR ORDER</h2>
                        </div>
                </div>
            </div>
        </div>
    </div>    
    </section>                
    <!-- YOUR ORDER -->
    
    <!-- ORDER LIST -->
    <div class="middle-div">
            

            <!-- LEFT DIV-->
                <div class="order-left-align">
                    <h5>Order 1</h5>
                    <h5>Order 2</h5>
                    <h5>Order 3</h5>
                    <h5>Order 4</h5>
                    <br>
                    <h5 style="font-weight: bold">TOTAL</h5>
                </div>
            <!-- LEFT DIV END-->

                <!--SPACE BETWEEN DIV-->
                    <div class="space"></div>
                <!--SPACE BETWEEN END-->    

            <!-- RIGHT DIV -->
                <div class="order-right-align">
                    <h5>PHP 150</h5>
                    <h5>PHP 250</h5>
                    <h5>PHP 325</h5>
                    <h5>PHP 120</h5>
                    <br>
                    <h5 style="font-weight: bold">PHP 825</h5>
                </div>
            <!-- RIGHT DIV END-->
    
        </div>
    </body>
</html>