<!DOCTYPE html>
<html lang="en">

  	<head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../public/images/ossu-logo.png">

    <title>OSSU | Your Order</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css">

    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="../public/css/owl-carousel.css">

    <link rel="stylesheet" href="../public/css/lightbox.css">

    <link rel="stylesheet" href="../public/css/order-style.css">
    
    <style>
        .receipt {
            max-width: 80%;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 2em;
            background-color: #f9f9f9;
        }

        .receipt-header {
            text-align: center;
            margin-bottom: 2em;
        }

        .receipt-items {
            width: 100%;
            border-collapse: collapse;
        }

        .receipt-items th, .receipt-items td {
            border: 1px solid #ccc;
            padding: 1em;
            text-align: left;
            font-size: 1em;
        }

        .receipt-items th {
            background-color: #f2f2f2;
        }

        .receipt-items td:last-child {
            text-align: right;
        }

        @media (max-width: 600px) {
            .receipt {
                padding: 1em;
            }
        }
    </style>

    </head>

    <body>
    
     <!-- ***** Header Area Start ***** -->
     <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../public/images/ossu-logo.png" width="60px" height="60px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="">View Menu</a></li>
                            <li class="scroll-to-section"><a href="">View Orders</a></li>
                            <li class="scroll-to-section"><a href="login.html" id="login-color">Login</a></li>
                            <li class="scroll-to-section"><a href="signup.html" id="login-color">Sign-up</a></li>
                            <li class="scroll-to-section"><a href="" id="login-color">Logout</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Order Area Starts ***** -->
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="receipt">
                    <div class="receipt-header">
                        <h1>Receipt</h1>
                        <p>Date: October 12, 2023</p>
                    </div>
                    <table class="receipt-items">
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>R7 Gyudon 牛丼飯</td>
                            <td>P328</td>
                        </tr>
                        <tr>
                            <td>K1 Pork katsu Curry 豬排咖哩</td>
                            <td>P318</td>
                        </tr>
                        <tr>
                            <td>P4 Taiwan Sausage (3pcs)</td>
                            <td>P368</td>
                        </tr>
                        <tr>
                            <td>F11 Fried ban Fish 炸魚條</td>
                            <td>P208</td>
                        </tr>
                        <tr>
                            <td>F15 Sea urchin Ball 海膽包</td>
                            <td>P208</td>
                        </tr>
                        <tr>
                            <td>F4 Chicken wings 6pcs 雞翅</td>
                            <td>P298</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;"><strong>Total: P1,728.00</strong></td>
                        </tr>
                    </table>
                    <br>
                    <button type="button" class="button" href="index.html">Back to main</button>
                    <button type="button" class="button" href="order-status.html">View Status</button>
                </div>

                <!-- ***** Add Content Here ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Order Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="../public/images/ossu-logo-new.png" alt="" width="170px" height="55px"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright OSSU.
                        
                        <br>All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../public/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../public/js/popper.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../public/js/owl-carousel.js"></script>
    <script src="../public/js/accordions.js"></script>
    <script src="../public/js/datepicker.js"></script>
    <script src="../public/js/scrollreveal.min.js"></script>
    <script src="../public/js/waypoints.min.js"></script>
    <script src="../public/js/jquery.counterup.min.js"></script>
    <script src="../public/js/imgfix.min.js"></script> 
    <script src="../public/js/slick.js"></script> 
    <script src="../public/js/lightbox.js"></script> 
    <script src="../public/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="../public/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

    </body>
</html>