<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order Status</title>
    
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../public/images/ossu-logo.png" width="60px" height="60px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#menu">Menu</a></li>
                            <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <main class="main">
    <section class="ftco-section">
		<div class="container">
            <div class="section-heading">
                <h6>Order Status</h6>
            </div>
			<div class="row justify-content-left">
				<div class="col-md-6 text-left mb-5">
					<h2 class="heading-section">Table #7</h2>
				</div>
            </div>
                <div class="table-responsive rounded-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td><img src="/public/images/ossu-food1.PNG" alt="Takoyaki" class="rounded-image"></td>
                            <td>Takoyaki</td>
                            <td class="status"><span class="served">Served</span></td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td><img src="/public/images/ossu-food4.PNG" alt="Beef Ramen" class="rounded-image"></td>
                            <td>Beef Ramen</td>
                            <td class="status"><span class="preparing">Preparing</span></td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td><img src="/public/images/ossu-food3.PNG" alt="Fried Noodles" class="rounded-image"></td>
                            <td>Fried Noodles</td>
                            <td class="status"><span class="served">Served</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>        
    </section>
    </main>
        <!-- ***** Footer Start ***** -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <div class="right-text-content">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="index.html"><img src="../public/images/ossu-logo-new.png" alt="" width="170px" height="55px"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="left-text-content">
                            <p>© Copyright OSSU.
                            
                            <br>All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
   <!-- Bootstrap -->
   <script src="../public/js/popper.js"></script>
   <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>