<!DOCTYPE html>
<html lang="en">

    <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../public/images/ossu-logo.png">

    <title>OSSU | Order Status</title>
    
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css">
 
    <link rel="stylesheet" href="../public/css/styles.css">
 
    <link rel="stylesheet" href="../public/css/owl-carousel.css">
 
    <link rel="stylesheet" href="../public/css/lightbox.css">
 
    <link rel="stylesheet" href="../public/css/order-style.css">

    </head>

    <body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../public/images/ossu-logo.png" width="60px" height="60px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="index.html">Home</a></li>
                            <li class="scroll-to-section"><a href="">View Menu</a></li>
                            <li class="scroll-to-section"><a href="order-status.html" class="active">View Orders</a></li>
                            <li class="scroll-to-section"><a href="" id="login-color">Logout</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <div id="top">
        <div class="container-fluid">
        </div>
    </div>

    <section class="section" id="header-fix-section">
        <div class="container">
            <div class="section-heading">
                <h6>Order Status</h6>
                <h2>Table #7</h2>
            </div>
            <div class="table-responsive rounded-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><img src="../public/images/ossu-food1.PNG" alt="Takoyaki" class="rounded-image"></td>
                            <td>Takoyaki</td>
                            <td class="status"><span class="served">Served</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><img src="../public/images/ossu-food4.PNG" alt="Beef Ramen" class="rounded-image"></td>
                            <td>Beef Ramen</td>
                            <td class="status"><span class="preparing">Preparing</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><img src="../public/images/ossu-food3.PNG" alt="Fried Noodles" class="rounded-image"></td>
                            <td>Fried Noodles</td>
                            <td class="status"><span class="served">Served</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><img src="../public/images/ossu-food3.PNG" alt="Fried Noodles" class="rounded-image"></td>
                            <td>Fried Noodles</td>
                            <td class="status"><span class="served">Served</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><img src="../public/images/ossu-food3.PNG" alt="Fried Noodles" class="rounded-image"></td>
                            <td>Fried Noodles</td>
                            <td class="status"><span class="served">Served</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><img src="../public/images/ossu-food3.PNG" alt="Fried Noodles" class="rounded-image"></td>
                            <td>Fried Noodles</td>
                            <td class="status"><span class="served">Served</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="../public/images/ossu-logo-new.png" alt="" width="170px" height="55px"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright OSSU.
                        
                        <br>All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../public/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../public/js/popper.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../public/js/owl-carousel.js"></script>
    <script src="../public/js/accordions.js"></script>
    <script src="../public/js/datepicker.js"></script>
    <script src="../public/js/scrollreveal.min.js"></script>
    <script src="../public/js/waypoints.min.js"></script>
    <script src="../public/js/jquery.counterup.min.js"></script>
    <script src="../public/js/imgfix.min.js"></script> 
    <script src="../public/js/slick.js"></script> 
    <script src="../public/js/lightbox.js"></script> 
    <script src="../public/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="../public/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

    </body>
</html>