@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.middle-div {
    justify-content: center;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
    background-color: black; /* Set your desired background color */
    margin: auto;
    color: white;
    padding: 1.5rem;
    border-radius: 5px;
  }

  .order-left-align {
    width: 20%;
    text-align: left;
    padding: 1rem;
  }

  .order-right-align {
    width: 20%;
    text-align: justify;
    padding: 1rem;
  }

  .space{
    width: 20%;
  }
  h5{
    line-height: 2.6;
    font-weight: 500;
  }

