@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.middle-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: black; /* Set your desired background color */
    margin: auto;
    color: white;
    padding: 1.5rem;
    border-radius: 5px;
  }

  .order-left-align {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .order-right-align {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }